::ng-deep .p-card {
    background: var(--background);
    box-shadow: var(--box-shadow);
}

::ng-deep .p-button {
    background: var(--primary);
    border-color: var(--primary);
    color: var(--primary-light);
}

p-button {
    opacity: 0;
    transition: opacity 1s ease;
}

.show {
    opacity: 1;
}
