<article class="float flex mt-5 w-full justify-content-center">
    <div>
        <div
            class="relative flex flex-column gap-5 justify-content-center p-5 w-screen max-w-35rem"
        >
            <p-button
                [ngClass]="showButton() ? 'show' : ''"
                icon="pi pi-angle-double-right "
                size="large"
                [raised]="true"
                (onClick)="skip()"
                class="absolute top-0 right-0 m-6"
            ></p-button>
            <p-card
                #pCard
                *ngFor="let c of cards; let i = index"
                [header]="c.header"
            >
                <p
                    [innerHTML]="c.text"
                    class="m-0"
                ></p>
            </p-card>
            <div
                *ngFor="let c of cards"
                class="mb-5"
            ></div>
        </div>
    </div>
</article>
