svg {
    pointer-events: all;
    transition: transform 0.3s ease;
}

svg:hover {
    transform: scale(1.1);
}

#bar path {
    fill: var(--primary);
    fill-opacity: 0.8;

    stroke: var(--primary-light);
    stroke-opacity: 0.8;
    stroke-width: 2.5;
}

.hex {
    pointer-events: all;
    cursor: pointer;

    fill: var(--background-dark);
    stroke: transparent;
    stroke-width: 0;

    transition: stroke 0.3s ease, stroke-width 0.3s ease;
}

.hex.active,
.hex:hover {
    stroke: var(--primary-light);
    stroke-width: 3;
}
