#bar path {
    fill: var(--primary);
    fill-opacity: 0.8;

    stroke: var(--primary-light);
    stroke-opacity: 0.8;
    stroke-width: 2;
}

.hex {
    pointer-events: all;
    cursor: pointer;

    fill: var(--background-dark);
    stroke: transparent;
    stroke-width: 0;

    transition: stroke 0.3s ease, stroke-width 0.3s ease;
}

.hex:hover {
    stroke: var(--primary-light);
    stroke-width: 3;
}

// TODO make this dynamic
#hex1 {
    fill: var(--background-light);
}
