<article class="float w-full flex justify-content-center p-5">
    <p-card>
        <div class="flex justify-content-center max-w-30rem">
            <p-accordion
                class="w-full"
                [activeIndex]="activeIndex"
            >
                <p-accordionTab
                    [header]="tab.title"
                    *ngFor="let tab of tabs"
                >
                    <a href=""></a>
                    <p
                        class="m-0"
                        [innerHTML]="tab.content"
                    ></p>
                    <div>
                        <h4>Tech</h4>
                        <div class="flex gap-2 flex-wrap">
                            <p-chip
                                *ngFor="let t of tab.tech"
                                [label]="t"
                            />
                        </div>
                    </div>
                </p-accordionTab>
            </p-accordion>
        </div>
    </p-card>
</article>
<div class="flex flex-column">
    <div class="mb-8 mt-8"></div>
</div>
