<div class="w-full flex justify-content-center p-5">
    <p-card class="max-w-30rem">
        <div class="flex justify-content-center">
            <p-accordion>
                <p-accordionTab
                    [header]="tab.title"
                    *ngFor="let tab of tabs"
                >
                    <p class="m-0">
                        {{ tab.content }}
                    </p>
                    <div>
                        <h4>Tech</h4>
                        <div class="flex gap-2">
                            <p-chip
                                *ngFor="let t of tab.tech"
                                [label]="t"
                            />
                        </div>
                    </div>
                </p-accordionTab>
            </p-accordion>
        </div>
    </p-card>
</div>
