<article
    class="flex flex-column justify-content-center align-items-center pt-8 mx-4"
>
    <div
        class="flex flex-column align-items-center justify-content-center w-full max-w-20rem gap-2 mb-5"
    >
        <app-yoav class="w-full h-auto float"></app-yoav>
        <app-rabby class="h-auto float animation-delay-2000"></app-rabby>
    </div>
    <p-chip class="float animation-delay-1000 mb-5">
        <h2 class="m-1">Software Developer</h2>
    </p-chip>
    <app-tech-stack class="flex justify-content-center w-full"></app-tech-stack>
    <app-tech-stack
        class="flex justify-content-center w-full"
        [goLeft]="false"
    ></app-tech-stack>
    <div class="mb-8 mt-8"></div>
</article>
