<div class="flex flex-column justify-content-center align-items-center pt-8">
    <div class="flex flex-column justify-content-center w-full max-w-35rem">
        <app-yoav class="w-full h-auto float"></app-yoav>
        <app-rabby class="w-full h-auto float animation-delay-1000"></app-rabby>
    </div>
    <div
        class="flex justify-content-between align-items-center gap-1 w-full max-w-35rem"
    >
        <app-badge
            *ngFor="let b of badges"
            class="w-full h-auto"
        ></app-badge>
    </div>
</div>
