<article
    class="flex flex-column justify-content-center align-items-center pt-8 mx-4"
>
    <div
        class="flex flex-column align-items-center justify-content-center w-full max-w-35rem gap-2"
    >
        <h1><span class="aaa">Clickable Text</span></h1>
        <!-- <div class="flex">
            <span
                id="y"
                class="float"
            >
                Y
            </span>
            <h1
                id="o"
                class="float"
            >
                o
            </h1>
            <h1
                id="a"
                class="float"
            >
                a
            </h1>
            <h1
                id="v"
                class="float"
            >
                v
            </h1>
        </div> -->
        <!-- <h1 class="float animation-delay-1000">Rabby</h1> -->
        <!-- <app-yoav class="w-full h-auto float"></app-yoav>
        <app-rabby class="w-full h-auto float animation-delay-1000"></app-rabby> -->
    </div>
    <app-tech-stack class="flex justify-content-center w-full"></app-tech-stack>
    <div class="mb-8 mt-8"></div>
</article>
