:host {
    display: block;
    overflow: hidden;
    height: 100vh;
    height: 100svh;
    width: 100%;
}

.con {
    position: relative;
    width: fit-content;
    height: 5rem;
    display: flex;
    gap: 2.4rem;
    box-sizing: border-box;
    margin-top: -2.8rem;

    // transform: translate(-25%, -25%) rotateX(50deg) rotateY(-5deg) rotateZ(20deg) scale(1);
}

.con:nth-child(even) {
    margin-left: 3.7rem;
}

.tile {
    margin: 0;
    padding: 0;

    width: 5rem;
    aspect-ratio: 1;
    background-color: var(--border);
    transition: background-color 1.5s;

    -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
}

.tile::before {
    content: "";
    position: absolute;
    pointer-events: none; // TODO
    width: 5rem;
    aspect-ratio: 1;
    transform: scale(0.95);

    z-index: 2;
    transition: background-color 1.5s;
    background-color: var(--background-rgb);

    -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);

}

// .tile:hover::before {
//     transition-duration: 0ms;
//     background-color: transparent;
// }

.tile:hover {
    transition-duration: 0ms;
}

.tile:nth-child(4n):hover {
    background-color: rgb(var(--red-rgb));
}

.tile:nth-child(4n + 1):hover {
    background-color: rgb(var(--blue-rgb));
}

.tile:nth-child(4n + 2):hover {
    background-color: rgb(var(--green-rgb));
}

.tile:nth-child(4n + 3):hover {
    background-color: rgb(var(--yellow-rgb));
}

.tile:nth-child(7n):hover {
    background-color: rgb(var(--blue-rgb));
}

.tile:nth-child(7n + 3):hover {
    background-color: rgb(var(--green-rgb));
}

.tile:nth-child(7n + 5):hover {
    background-color: rgb(var(--yellow-rgb));
}

.tile:nth-child(7n + 6):hover {
    background-color: rgb(var(--red-rgb));
}

.tile:nth-child(11n + 1):hover {
    background-color: rgb(var(--red-rgb));
}

.tile:nth-child(11n + 4):hover {
    background-color: rgb(var(--blue-rgb));
}

.tile:nth-child(11n + 7):hover {
    background-color: rgb(var(--green-rgb));
}

.tile:nth-child(11n + 10):hover {
    background-color: rgb(var(--yellow-rgb));
}


// .tile {
//     border: solid 1px rgb(255 255 255 / 25%);
//     aspect-ratio: 1;
//     width: 5rem;
//     transition: background-color 1.5s;
//     background-color: transparent;
// }