:host {
    display: block;
    overflow: hidden;
    height: 200vh;
    width: 100%;
}

#con {
    display: block;
    height: 150vh;
    overflow: hidden;
    width: 150vw;
    margin-left: -80px;
}

.row {
    pointer-events: none;
    position: relative;
    width: fit-content;
    height: 80px;
    display: flex;
    box-sizing: border-box;
    margin-top: -45px;
}

.row:nth-child(even) {
    margin-left: 58.5px;
}

.tile {
    margin: 0;
    padding: 0;

    pointer-events: auto;

    width: 80px;
    aspect-ratio: 1;
    background-color: var(--border);
    transition: background-color 3s;

    -webkit-clip-path: polygon(
        25% 5%,
        75% 5%,
        100% 50%,
        75% 95%,
        25% 95%,
        0% 50%
    );
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
}

// .tile::before {
//     content: "";
//     position: absolute;
//     pointer-events: none;
//     width: 80px;
//     aspect-ratio: 1;
//     transform: scale(0.95);

//     z-index: 2;
//     // transition: background-color 5s;
//     // background-color: var(--background-rgb);

//     -webkit-clip-path: polygon(25% 5%,
//             75% 5%,
//             100% 50%,
//             75% 95%,
//             25% 95%,
//             0% 50%);
//     clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
// }

// .tile:hover::before {
//     transition-duration: 0ms;
//     background-color: transparent;
// }

.tile:hover {
    transition-duration: 0ms;
}
