svg {
    display: block;
    width: 100%;
    height: auto;
}

path {
    pointer-events: auto;
    cursor: pointer;
    fill-opacity: 0.8;
    stroke-width: 1.5;
    transition: fill 1s ease, stroke 1s ease, transform 0.3s;
}
