<main
    class="relative"
    [@routeAnimations]="getRouteAnimationData(outlet)"
    (@routeAnimations.done)="onAnimationDone()"
>
    <router-outlet #outlet="outlet"></router-outlet>
</main>
<app-background class="fixed top-0 z--1"></app-background>
<app-navbar
    id="navbar"
    [isSideways]="isSideways"
    class="fixed"
    [style.top]="top"
    [style.left]="left"
    [ngClass]="
        isSideways
            ? 'slide-left-navbar min-h-10rem h-full pt-8 pb-8'
            : ' slide-up-navbar min-w-20rem pb-5'
    "
></app-navbar>
