<svg
    width="309"
    height="208"
    viewBox="0 0 309 208"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
>
    <g id="hex">
        <g filter="url(#filter0_d_253_10)">
            <path
                id="inner"
                d="M114.372 58.7316L159.835 58.7316L182.567 98.1038L159.835 137.476L114.372 137.476L91.6406 98.1038L114.372 58.7316Z"
                shape-rendering="crispEdges"
            />
            <path
                id="outer"
                d="M92.7954 98.1038L114.95 59.7316L159.258 59.7316L181.412 98.1038L159.258 136.476L114.95 136.476L92.7954 98.1038Z"
                shape-rendering="crispEdges"
            />
        </g>
    </g>
    <defs>
        <filter
            id="filter0_d_253_10"
            x="77.6406"
            y="58.7316"
            width="104.926"
            height="100.744"
            filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB"
        >
            <feFlood
                flood-opacity="0"
                result="BackgroundImageFix"
            />
            <feColorMatrix
                in="SourceAlpha"
                type="matrix"
                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                result="hardAlpha"
            />
            <feOffset
                dx="-11"
                dy="19"
            />
            <feGaussianBlur stdDeviation="1.5" />
            <feComposite
                in2="hardAlpha"
                operator="out"
            />
            <feColorMatrix
                type="matrix"
                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0"
            />
            <feBlend
                mode="normal"
                in2="BackgroundImageFix"
                result="effect1_dropShadow_253_10"
            />
            <feBlend
                mode="normal"
                in="SourceGraphic"
                in2="effect1_dropShadow_253_10"
                result="shape"
            />
        </filter>
    </defs>
</svg>
