// For PrimeNG
@import 'primeng/resources/themes/aura-dark-teal/theme.css';
@import 'primeng/resources/primeng.css';
@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.css';

:root {
    --box-shadow: -11px 19px 3px rgba(0, 0, 0, 0.5);

    // Colors
    --border: rgb(255 255 255 / 25%);
    --background: #565656;

    --primary: #3239ba;
    --primary-mid: #5358c1;
    --primary-light: #8389f0;
    // TODO these are not good colors
    --background-light: rgb(255 255 255 / 25%);
    --background-dark: rgba(255, 255, 255, 15%);

    // not sure about these
    font-weight: 400;
    font-style: normal;

    // override PrimeNG
    --font-family: 'Inconsolata', monospace;
    --text-color: #fff;
    --primary-color: var(--primary);
}

html,
body {
    pointer-events: none;
    margin: 0;
    padding: 0;

    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; /* Hide scrollbar */
    -moz-scrollbar-width: none; /* Old Firefox versions */
}

* {
    outline: none; // remove focus outline
    -webkit-tap-highlight-color: transparent; // remove tap highlight
}

p-button {
    pointer-events: auto;
}

.z--1 {
    z-index: -1;
}

.bg-blue {
    background-color: lightblue;
}

.bg-red {
    background-color: lightpink;
}

.bg-green {
    background-color: lightgreen;
}

.bg-orange {
    background-color: orange;
}

// Extra PrimeFlex classes
.min-h-10rem {
    min-height: 10rem;
}

.min-h-20rem {
    min-height: 20rem;
}

.min-w-10rem {
    min-width: 10rem;
}

.min-w-20rem {
    min-width: 20rem;
}

.max-w-35rem {
    max-width: 35rem;
}

.translate-top-left-50 {
    transform: translate(-50%, -50%);
}

.translate-left-50 {
    transform: translateX(-50%);
}

// Animations
@keyframes float {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}

.float {
    animation: float 7s ease-in-out infinite;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 1s ease forwards;
}

@keyframes slideUpNavbar {
    from {
        transform: translate(-50%, 100%);
    }
    to {
        transform: translate(-50%, 0);
    }
}

.slide-up-navbar {
    animation: slideUpNavbar 0.5s ease forwards;
}

@keyframes slideLeftNavbar {
    from {
        transform: translate(100%, -50%);
    }
    to {
        transform: translate(0, -50%);
    }
}

.slide-left-navbar {
    animation: slideLeftNavbar 0.5s ease forwards;
}
