// For PrimeNG
@import 'primeng/resources/themes/aura-dark-teal/theme.css';
@import 'primeng/resources/primeng.css';
@import 'primeicons/primeicons.css';


:root {
    --red-rgb: 248 113 113;
    --blue-rgb: 56 189 248;
    --green-rgb: 74 222 128;
    --yellow-rgb: 253 224 71;

    --background-rgb: 0 0 0;
}

html,
body {
    margin: 0;
    padding: 0;
}